<ion-view title="">
      
        
        <ion-header-bar align-title="left" class="bar-stable">
  
      <div class="buttons">
        <a class="button" ng-click="parentGo()">Back</a>
      </div>

      
    </ion-header-bar>    
        
        
        
        
        
        
        
        <ion-content>
          <div class="row">
            <div class="col" style="text-align:center">
              Sorry 
            </div>
          </div>
          <div class="row">
            <div class="col" style="text-align:center">
              Can't cancel {{viewOrder.done}} order
            </div>
          </div>
        </ion-content>
</ion-view>











    

