<ion-view>
    <ion-header-bar align-title="center" class="bar-stable">
         <h1 class="title">WRAPBUILD</h1>
    </ion-header-bar>    

    <ion-content>
        
        <label class="item item-input">
            <input ng-model="userInfoRegister.email" type="text" placeholder="name@example.com" />
        </label>
        <label class="item item-input">
            <input ng-model="userInfoRegister.password" type="password" placeholder="At least 5 characters" />
        </label>
        <label class="item item-input">
            <input ng-model="userInfoRegister.firstName" type="text" placeholder="First Name" />
        </label>
        <label class="item item-input">
            <input ng-model="userInfoRegister.lastName" type="text" placeholder="Last Name" />
        </label>
        <label class="item item-input">
            <input ng-model="userInfoRegister.phone" type="text" placeholder="Landline or Mobile Number" />
        </label>

        <div class="no-padding">
          <a class="button button-full button-calm"  ng-click="registerNewUser(userInfoRegister)">Create Account</a>
        </div>
        
        <div class="row" style="text-align: center; word-wrap: break-word;">
            <div class="col">
                 Not a member? Register in store | 205 King Sreet Hamilton VIC 3350
            </div>
        </div>

        <div class="row" style="text-align: center; word-wrap: break-word;">
            <div class="col">
                 wrapbuild &copy; 2016
            </div>
        </div>

    </ion-content>
</ion-view>











    

