<ion-view title="">
      
        
  <ion-header-bar align-title="left" class="bar-stable">
    <a class="button button-icon icon ion-arrow-left-c" ng-click="parentGo()"></a>
  </ion-header-bar>    
  <ion-content>
    <div class="row" style="text-align: left; word-wrap: break-word;">
      <div class="col">
        <p>Lynette Austin owner/operator of King Street Milk Bar welcomes you to wrapbuild an app based food service. It offers custom food products through web based technology.
        Register in store today!</p>
        
        <p>Refund policy: All refund requests made within 1 day of goods received by customer are accepted. Refunds are reimbursed in store by cash.</p>
        
        <p>Delivery: Customers can expect their order to be available for pick up at nominated time.</p>
        
        <p>Payment: In-store payment requires customer to pay for their order via in store
        payment facilities. Online payment is limited to bank cards processed by a third party provider.</p>
        
        <p>Privacy Policy: Data collected is limited to customer phone number and order history. We are PCI compliant and do not collect card data. On registration customer will receive a login pass constituting their phone number along with an optional suffix, e.g. 0431917811dean. This provides contact information and a measure of security against illegitimate orders.</p>
        
        <p>Contact information: LJ AUSTIN | ABN: 47 349 660 787 | Phone: 0355712969 | Location: 205 King Street Hamilton VIC 3300.</p>

      </div>
    </div>
    <div class="row" style="text-align: center; word-wrap: break-word;">
      <div class="col">
  
       wrapbuild &copy; 2016
        
      </div>
    </div>
  </ion-content>
</ion-view>











    

