<ion-view>
    
    <ion-header-bar align-title="left" class="bar-stable">
   
 

  

 
  
  
</ion-header-bar>    

  <ion-content>
     
      
         <div class="list list-inset">
             
            <label class="item item-input">
                <input ng-model="userInfoLogin.email" type="text" placeholder="Email" />
            </label>
            <label class="item item-input">
                <input ng-model="userInfoLogin.password" type="password" placeholder="Password"/>
            </label>
        </div>
        <div class="no-padding">
          <a class="button button-full button-positive"  ng-click="login(email, password)">Log in</a>
        </div>
        
            
              <div  class="item-text-wrap row" style="text-align: center; word-wrap: break-word;">
            <div class="col">
      
             Not a member? Come by the store & register
        
            </div>
          </div>

       
  </ion-content>

</ion-view>











    

