<ion-view>
    <ion-header-bar align-title="left" class="bar-stable">
  
      <div class="buttons">
        <a class="button" ng-click="parentGo()">Back</a>
      </div>

    </ion-header-bar>    
    

    <ion-content>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="userInfo2.phone" type="text" placeholder="Phone" />
                </label>
            </div>
            <div class="list list-inset">
                <a class="button button-full button-royal" ng-click="register()">Sign up</a>
            </div>

        </div>
    </ion-content>
</ion-view>

