<ion-view>

  <ion-content>
         <div class="list list-inset">
            <label class="item item-input">
                <input ng-model="userInfoReg.email" type="text" placeholder="Email" />
            </label>
            <label class="item item-input">
                <input ng-model="userInfoReg.password" type="password" placeholder="Password"/>
            </label>
        </div>
        <div class="no-padding">
          <a class="button button-full button-positive"  ng-click="register(email, password)">Enter</a>
        </div>
       
  </ion-content>

</ion-view>











    

