<ion-view>
  
  <ion-header-bar align-title="left" class="bar-stable">
  
      <div class="buttons">
        <a class="button" ng-click="parentGo()">Back</a>
      </div>

  </ion-header-bar>    

    <ion-content>
      
    <ion-item class="item-text-wrap" ui-sref="app.order.set.done">
      Done
    </ion-item>
    <ion-item class="item-text-wrap" ui-sref="app.order.set.stock">
      Stock
    </ion-item>
    <ion-item class="item-text-wrap" ui-sref="app.order.set.signup">
      Sign up
    </ion-item>
    <ion-item class="item-text-wrap" ui-sref="app.order.set.newtime">
      Time
    </ion-item>
    <ion-item class="item-text-wrap" ui-sref="app.order.set.version">
      Version
    </ion-item>
     <ion-item class="item-text-wrap" ng-click="logout()">
      Log out
    </ion-item>

        
  </ion-content>

</ion-view>











    

