<ion-view>
  
  <ion-header-bar align-title="left" class="bar-stable">
  
      <div class="buttons">
        <a class="button" ng-click="parentGo()">Back</a>
      </div>

      
    </ion-header-bar>    
    

        <ion-content>
          <div class="row">
            <div class="col" style="text-align:center">
              Store Closed. 
            </div>
          </div>
          <div class="row">
            <div class="col" style="text-align:center">
              Open: {{open%12}} - {{close%12}}
            </div>
          </div>
          <div class="row">
            <div class="col" style="text-align:center">
              Try selecting another time
            </div>
          </div>
         
        </ion-content>
</ion-view>











    

