<ion-view view-title="">
    
<ion-header-bar align-title="left" class="bar-stable">
   
  <div class="buttons">
    <a class="button" ui-sref="app.main.setting" ng-show="authData.password.email">Setting</a>
  </div>
  
  <div class="buttons">
    <a class="button" ui-sref="app.main.new">Add</a>
  </div>
  
  <div class="buttons" ng-show="!authData.password.email">
    <a class="button" ui-sref="login">Log in</a>
  </div>
 
  
  
</ion-header-bar>    
    
  
<ion-content>
            
             <ion-item ng-if="orders.length === 0" class="item-text-wrap" ng-show="!authData.password.email">
          <div class="row" style="text-align: center; word-wrap: break-word;">
            <div class="col">
      
             Tap an item to customise as you wish.
              
            </div>
          </div>
        </ion-item>
        
        
          <div ng-if="orders.length != 0" ng-show="!authData.password.email" class="item-text-wrap row" style="text-align: center; word-wrap: break-word;">
            <div class="col">
      
             Order success! Come by the store to pick up & register as a member.
        
            </div>
          </div>
          
           
          
          
        
          <div class="no-padding"  ng-repeat="x in orders | orderBy:'order'" ng-if="x.done != 'Picked-Up' && x.done != 'Cancel'" >
             
            <a class="button button-full button-calm"  ng-click="assignViewOrder(x);" ng-class="{'button button-full button-calm': x.done === 'Order', 'button button-full button-royal': x.done === 'Preparing', 'button button-full button-assertive': x.done === 'Ready',  'button button-full button-balanced': x.done === 'Picked-Up',  'button button-full button-dark': x.done === 'Cancel'}">{{x.done}}</a>
    
          </div>
          
          
            
     
      
            
 
            <div class="list no-padding" show-reorder="true">
          
        
 
          
         
         
       
  
              
          <ion-item class="no-padding item-text-wrap"  ng-if="orders.length === 0" ng-init="outerIndex=$index; show.yes = false"  ng-repeat="x in newOrder.customList track by $index| orderBy:'-order'"  >
            
            
              <div class="row row-center" >
              
                <div class="col" ng-click="viewStock(x)"> 
                  {{ClientTokenFactory.token}}
                    <span ng-hide="x.custom === '' || x.custom === null">{{x.custom}} | </span>{{x.stock}}
                </div>
                
                 
     
                <div style="color:green" ng-hide="x.qty == 0" class="col-1">
                    {{x.qty}}
                </div>
                
                <div class="col-1" ng-click="deductMain(x)">
                   <a class="button button-light ion-minus"></a>
                </div>
                
                <div class="col-1" ng-click="addMain(x)">
                   <a class="button button-light ion-plus"></a>
                </div>
       
              </div>
            
        </ion-item>
        
 
        

         
          <a class="button button-stable button-full" ui-sref="app.main.confirm" ng-if="orders.length === 0 && newOrder.total > 0 ">Checkout</a>
      
        
    </div>

</ion-content>
</ion-view>











    

