<ion-view title="">
    
  <ion-header-bar align-title="left" class="bar-stable">
  
      <div class="buttons">
        <a class="button" ng-click="parentGo()">Back</a>
      </div>
      
    </ion-header-bar>       
    
    <ion-content>
      
        
        <div class="list list-inset">
            <label class="item item-input">
                <input ng-model="productName.name" type="text" placeholder="Name your creation" />
            </label>
        </div>
        
        <div class="row">
            <div class="col" style="text-align:center">
              <a class="button button-full button-stable" ng-click="done()">Done</a>
            </div>
          </div>
    
    
        
    </ion-content>
</ion-view>












    

