<ion-view title="">
    
 <ion-header-bar align-title="left" class="bar-stable">
  
      <div class="buttons">
        <a class="button" ng-click="parentGo()">Back</a>
      </div>
      
         <div class="buttons" ng-show="!authData.password.email">
        <a class="button" ui-sref="login">Log in</a>
      </div>

    </ion-header-bar>    

  
<ion-content>
         <ion-item class="item-text-wrap" ng-show="someList.length === 0 && !authData.password.email">
          <div class="row" style="text-align: center; word-wrap: break-word;">
            <div class="col">
      
             Welcome to WrapBuild! Get started by selecting an item
              
            </div>
          </div>
        </ion-item>
        
        <ion-item class="item-text-wrap" ng-show="someList.length != 0 && !authData.password.email">
          <div class="row" style="text-align: center; word-wrap: break-word;">
            <div class="col">
      
             Add another item to your menu
              
            </div>
          </div>
        </ion-item>

  

        <div class="list no-padding" show-reorder="true">
          
          
           
          <ion-item class="no-padding item-text-wrap" ng-init="outerIndex=$index"  ng-repeat="x in stock track by $index| orderBy:'-order'"  >
            
              <div class="row row-center" >
              
                <div class="col" ng-click="adjustStock(x)">
                    {{x.stock}} 
                </div>
     
              </div>
             
            
        </ion-item>
      
        
   
          
        
     
      
       
        
    </div>
   
  
   

</ion-content>
</ion-view>











    

