<ion-view>
    
    <ion-header-bar align-title="left" class="bar-stable">
  
      <div class="buttons">
        <a class="button" ng-click="parentGo()">Back</a>
      </div>
      
    </ion-header-bar>    
    
    
    <ion-content>
        
        <div class="list list-inset">
            <label class="item item-input">
                <input ng-model="newOrder.reference" type="text" placeholder="e.g. John" />
            </label>
        </div>
        
         <div class="no-padding">
     
              <a class="button button-full button-stable" ng-click="newReference()">Save</a>
          
        </div>
    
    
        
    </ion-content>
</ion-view>












    

